{% extends "_base.html" %}

{% block content %}

<div class="text-center">
  <h1>Patients for {{professional_name}}</h1>
</div>

<br>

<form action="/patients/{{ professional_id }}" method="POST">
  <div class="form-group">
    <input name="name" class="form-control input-lg" type="text" placeholder="Enter patients name" required>
    <input name="insurance" class="form-control input-lg" type="text" placeholder="Enter OSPECON" required>
    <input name="sessions" class="form-control input-lg" type="number" placeholder="Enter number of sessions" required>
  </div>
  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">
</form>

<br>
<hr>

<div>
  {% for patient in patients %}
    <h4 class="well"><strong>{{patient.name}}</strong> | Number of sessions: {{patient.sessions}}</h4>
  {% endfor %}
</div>

{% endblock %}